 .paragraph{
            color: green;
            text-decoration: underline;
        }

        ol{
            display: flex;
            list-style: none;
            
        }

        .paragraph2{
            font-size: 30px;
            border: 2px solid red;
        }

        #passp{
            width: 200px;
            height: 250px;
            border-radius: 30px;
            box-shadow: 5px 5px 5px red;
      
        }

        /* body{
            background-color:DodgerBlue;
        } */


        /* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }